.app {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  padding-left: 10%;
}

h1 {
  color: white;
  text-align: center;
}

body {
  background-color: black;
  align-self: center;
}

.card {
  background-color: black;
  width: 300px;
  height: 200px;
  color: white;
  border: 1px solid white;
}

.heart {
  background-color: black;
  position: relative;
  left: 45%;
  top: 10px;
  cursor: pointer;
}

.like {
  color: red;
}

.dislike {
  color: white;
}

button {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

.open-fav {
  border-radius: 50%;
  background-image: url(https://png.pngtree.com/png-vector/20190501/ourlarge/pngtree-favourite-icon-design-png-image_1016157.jpg);
  position: fixed;
  bottom: 6%;
  right: 6%;
}

.go-back {
  background-image: url(https://image.flaticon.com/icons/png/512/17/17882.png);
  position: fixed;
  left: 0px;
  top: 10px;
}